<div class="container">
    <% ARProducts.forEach((data2) => { %>
        <div class="col-xs-12 col-md-6">
            <div class="ProductTable prod-wrap">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="Image">
                            <img src=<%= data2.imagePath %> class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="Title">
                            <h5 class="Name">
                                <%= data2.name%>
                                <a>
                                    <span><%= data2.type%></span>
                                </a>
                            </h5>
                            <p class="Price">
                                <span>$<%= data2.price%></span>
                            </p>
                        </div>
                        <div class="Details">
                            <p><%= data2.detail%></p>
                        </div>
                        <div class="InfoPadding">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="<%= data2.urlink%>" class="btn btn-info"><span>DETAILS</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>