<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History Page</title>
    <%- include('../layouts/header.ejs'); %>
    <link rel="stylesheet" href="../../css/Stock%20Page%20Stylesheet.css">
    <script src=../../js/Responsive.js></script>
    <script src="../../js/Sidebar.js"></script>
</head>
<body class="bg-color">
<div class="Logo">
    <img src= ../../Assets/Logo.png alt="Logo" class="responsive">
</div>
<%- include('../layouts/navbar.ejs', {type: 'V1'}); %>
<% var i = 1;%>
<div class="container">
<table class="Table" id="customers">
    <tr>
        <th>#</th>
        <th>Customer ID</th>
        <th>Customer Name</th>
        <th>Stock ID</th>
        <th>Date</th>
        <th>Qty</th>
    </tr>
    <% Customers.forEach((data) => { %>
    <tr>
        <td><%= i%></td>
        <td><%= data.cid%></td>
        <td><%= data.name%></td>
        <td><%= data.mid%></td>
        <td><%= data.date.toDateString()%></td>
        <td><%= data.qty%></td>
    </tr>
    <%i++;%>
    <% }) %>
</table>
</div>
<%- include('../layouts/footer.ejs'); %>
</body>
</html>
