<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rifle Product List</title>
    <link rel="shortcut icon" href="../../Assets/Logo2.ico"/>
    <%- include('../layouts/header.ejs'); %>
    <link rel="stylesheet" href="../../css/ProductStylesheet.css">
    <script src=../../js/Responsive.js></script>
</head>

<div class="Logo">
    <img src= ../../Assets/Logo.png alt="Logo" class="responsive">
</div>
<body class="bg-color">
<%- include('../layouts/navbar.ejs', {state: 'product'}); %>
<% RProducts.forEach((product) => { %>
<div class="container">
    <div class="col-xs-12 col-md-6">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="<%= product.imagePath%>>" alt="EMK3" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            <%= product.name%>
                            <a>
                                <span><%= product.type%></span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$<%= product.price%></span>
                        </p>
                    </div>
                    <div class="Details">
                        <p><%= product.detail%></p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="<%= product.urlink%>" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% }) %>
</div>
<%- include('../layouts/footer.ejs'); %>
</body>
</html>