<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Page</title>
    <%- include('../layouts/header.ejs'); %>
    <link rel="stylesheet" href="../../css/Stock%20Page%20Stylesheet.css">
    <script src=../../js/Responsive.js></script>
    <script src="../../js/Sidebar.js"></script>
</head>
<body class="bg-color">
<div class="Logo">
    <img src= ../../Assets/Logo.png alt="Logo" class="responsive">
</div>
<%- include('../layouts/navbar.ejs', {type: 'V1'}); %>
<% var i = 1;%>
<div class="container">
<table class="Table" id="customers">
    <tr>
        <th>#</th>
        <th>Stock ID</th>
        <th>Stock Name</th>
        <th>Qty</th>
    </tr>
    <% RProducts.forEach((data1) => { %>
    <tr>
        <td><%= i%></td>
        <td><%= data1.id%></td>
        <td><%= data1.name%></td>
        <td><%= data1.stock%></td>
    </tr>
    <%i++;%>
    <% }) %>
    <% ARProducts.forEach((data2) => { %>
        <tr>
            <td><%= i%></td>
            <td><%= data2.id%></td>
            <td><%= data2.name%></td>
            <td><%= data2.stock%></td>
        </tr>
        <%i++;%>
    <% }) %>
    <% SMGProducts.forEach((data3) => { %>
        <tr>
            <td><%= i%></td>
            <td><%= data3.id %></td>
            <td><%= data3.name %></td>
            <td><%= data3.stock %></td>
        </tr>
        <% i++;%>
    <% }) %>
    <% HGProducts.forEach((data4) => { %>
        <tr>
            <td><%= i%></td>
            <td><%= data4.id %></td>
            <td><%= data4.name %></td>
            <td><%= data4.stock %></td>
        </tr>
        <% i++;%>
    <% }) %>
</table>
</div>
<%- include('../layouts/footer.ejs'); %>
</body>
</html>
